ion-content{
    --ion-background-color: linear-gradient(160deg, #B627F2 30%,#1EE3DD 70%)
  }
.filebtn {
    opacity: 0;
    position: absolute;
    top: -100em;
    left: -100em;
}
.ps {
    font-weight: bold;
    text-align: center;
    font-style: italic;
    color: #ffffff;

}
